<%- include("../../includes/head.ejs") %>
    </head>
    <body>
        <%- include("../../includes/nav.ejs") %>
        <main>
            <p>Name: <%= user.name %></p>
            <p>Email: <%= user.email %></p>
        </main>

<%- include("../../includes/end.ejs") %>