<%- include("../../includes/head.ejs") %>
    </head>
    <body>
        <%- include("../../includes/nav.ejs") %>
        <main class="px-[100px] mt-8 flex flex-col items-center w-full">
            <form method="post" class="w-[40%]" action="/user/reset">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <h1 class="text-3xl font-semi text-center">Reset Password</h1>
                <% if(errorMsg.length > 0) { %>
                    <p class="bg-[#ff0000] my-4 rounded-lg text-white p-2"><%= errorMsg[0] %></p>
                <% } %>
                <input type="hidden" name="userId" value="<%= userId %>">
                <div class="my-4 h-[50px] w-full">
                    <input class="w-full h-full inline-block rounded border border-slate-300 p-2" type="password" name="password" id="password" placeholder= "Password" />
                </div>
                <div class="my-4 h-[50px] w-full">
                    <input class="w-full h-full inline-block rounded border border-slate-300 p-2" type="password" name="confirm_password" id="confirm_password" placeholder= "Password" />
                </div>
                <div class="my-4 h-[50px] w-full">
                    <input class="w-full h-full inline-block rounded border bg-[#ff0e36] text-[#fff] text-xl p-2" type="submit" value="Reset Password">
                </div>
            </form>

        </main>

<%- include("../../includes/end.ejs") %>